<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ asset('favicon.ico') }}?v=2">

    {% block stylesheets %}
        <link href="{{ asset('bundles/orangecore/lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/orangecore/lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/orangecore/css/starter-template.css') }}" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% endblock %}
</head>
<body>
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-2" id="logo-front">
                <a href="{{ path('_home') }}">
                    <img src="{{ asset('bundles/orangecore/img/orange-logo.png') }}" width="100"/>
                </a>
            </div>
            <div class="col-sm-3 col-sm-offset-7 form-search">
                <form id="post-search" method="post" action="{{ path('_post_search') }}">
                    <input type="text" name="search" placeholder="Recherche..." />
                    <button class="loupe"><i class="fa fa-fw fa-search"></i></button>
                </form>
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </div>
    {% block footer %}
    {% endblock %}
</div>
{% block javascripts %}
    <script src="{{ asset('bundles/orangecore/js/jquery-1.11.3.min.js') }}"></script>
    <script src="{{ asset('bundles/orangecore/lib/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/orangecore/js/global.js') }}"></script>
{% endblock %}
</body>
</html>