{% extends "OrangeCoreBundle::base.html.twig" %}

{% block title %}Base de données - DCR{% endblock %}

{% block content %}
    <div class="container">
        <div class="starter-template">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="row">
                        <div class="col-md-3" style="margin-left : -2%; margin-bottom : 35px !important; margin-top : 40px !important;">
                            <a class="bouton-retour" href="{{ path('_home') }}" role="button"><i class="fa fa-arrow-circle-left"></i> Retour</a>
                        </div>
                    </div>
                    <div class="heading-typo">
                        <h1 class="head-front">Dossiers de {{ t.libelle }}</h1>
                    </div>
                    <ul class="list-group typologie">
                        {% for st in stypos %}
                            {% if st.fichiers|length > 0 %}
                                <li class="list-group-item"><a href="{{ path('_show_sfiles', {'id': st.id}) }}">{{ st.libelle }}</a></li>
                            {% else %}
                                <li class="list-group-item inactive-item">{{ st.libelle }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {% include "OrangeCoreBundle::foot.html.twig" %}
{% endblock %}