{% extends "OrangeCoreBundle::base.html.twig" %}

{% block title %}Base de données - DCR{% endblock %}

{% block content %}
    <div class="starter-template">
        <h1>DCR / DevCo Normandie-Centre</h1>
        <h2>Base de données commerciale 2016</h2>
        <div class="row">
            {% for c in classifications %}
            <div class="col-md-4">
                <div class="header-classification" {% if c.visuel is defined %}style="background: url(uploads/visuels/{{ c.visuel }}); background-size : cover; background-position : center;"{% endif %}>
                    <h2>{{ c.libelle }}, <br /> {{ c.description }}</h2>
                </div>
                <ul class="list-group classification">
                {% for t in c.typologies %}
                    {% if t.sublevel == false %}
                    <li class="list-group-item"><a href="{{ path('_show_files', {'id': t.id}) }}">{{ t.libelle }}</a></li>
                    {% else %}
                    <li class="list-group-item"><a href="{{ path('_home_flevel', {'route': t.route}) }}">{{ t.libelle }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block footer %}
    {% include "OrangeCoreBundle::foot.html.twig" %}
{% endblock %}
