{% extends "OrangeCoreBundle::base.html.twig" %}

{% block title %}Base de données - DCR{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/orangecore/lib/jquery.bxslider/jquery.bxslider.css') }}" />
{% endblock %}
{% block content %}
    <div class="starter-template">
        <h1>DCR / DevCo Normandie-Centre</h1>
        <h2>Base de données commerciale 2016</h2>
        <div class="row main-row slider1">
            {% set i = 0 %}
            {% for c in classifications %}
                {% set i = i + 1 %}
                <div class="col-md-4 slide" id="parent-class-{{ i }}">
                    <div class="header-classification" {% if c.visuel is defined %}style="background: url(uploads/visuels/{{ c.visuel }}) no-repeat center; background-size : cover;"{% endif %}>
                        <h2>{{ c.libelle }}, <br /> {{ c.description }}</h2>
                    </div>
                    <div class="main-classification" id="class-{{ i }}">
                        <ul class="list-group classification">
                        {% for t in c.typologies %}
                            {% if t.sublevel == false %}
                                {% if t.fichiers|length > 0 %}
                                    <li class="list-group-item"><a href="{{ path('_show_files', {'id': t.id}) }}">{{ t.libelle }}</a></li>
                                {% else %}
                                    <li class="list-group-item inactive-item">{{ t.libelle }}</li>
                                {% endif %}
                            {% else %}
                                {% if t.soustypologies|length > 0 %}
                                    <li class="list-group-item"><a href="{{ path('_home_flevel', {'route': t.route}) }}">{{ t.libelle }}</a></li>
                                {% else %}
                                    <li class="list-group-item inactive-item">{{ t.libelle }}</li>
                                {% endif %} 
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                    <div class="button-develop col-md-2 col-md-offset-10">

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block footer %}
    {% include "OrangeCoreBundle::foot.html.twig" %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/orangecore/lib/jquery.bxslider/jquery.bxslider.min.js') }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function(){
            if("matchMedia" in window){
                if(window.matchMedia("(min-width : 1200px)").matches){
                    jQuery('.slider1').bxSlider({
                        slideWidth : 390,
                        minSlides : 1,
                        maxSlides : 3
                    });
                    console.log('1200 !');
                }
                else if(window.matchMedia("(min-width : 992px)").matches){
                    jQuery('.slider1').bxSlider({
                        slideWidth : 322,
                        minSlides : 1,
                        maxSlides : 3
                    });
                    console.log('992 !');
                }
            }
        });
    </script>
{% endblock %}
