{% extends "OrangeCoreBundle::base.html.twig" %}

{% block title %}Base de données - DCR{% endblock %}

{% block content %}
    <div class="container">
        <div class="starter-template">
            <h1>Résultat de la recherche</h1>
            <div class="row">
                <div class="col-md-2" style="margin-top : 40px !important;">
                    <a class="bouton-retour" href="{{ path('_home') }}" role="button"><i class="fa fa-arrow-circle-left"></i> Retour</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default" id="cont-engine">
                        <div class="panel-heading">
                            <h2>Critères de recherche</h2>
                        </div>
                        <div class="panel-body">
                            <form method="post" action="" id="search-engine" onSubmit="loadCustomSearch();">
                                <label for="engsearch">Mots-clés : </label><input type="text" id="engsearch" name="engsearch" value="{{ search }}" />
                                <select name="thema" id="thema">
                                    <option selected value="">-- Sélectionner la thématique --</option>
                                    {% for t in thema %}
                                        <option value="{{ t.id }}">{{ t.libelle }}</option>
                                    {% endfor %}
                                </select>
                                <select name="fam" id="fam" onChange="loadSubFamilies(this.value);">
                                    <option selected="selected" value="">-- Sélectionner la famille --</option>
                                    {% for f in fam %}
                                        <option value="{{ f.id }}">{{ f.libelle }}</option>
                                    {% endfor %}
                                </select>
                                <select name="sfam" id="sfam">
                                    <option selected="selected" value="">-- Sélectionner la sous-famille --</option>
                                    {% for sf in sfam %}
                                        <option value="{{ sf.id }}" class="nouveau">{{ sf.libelle }}</option>
                                    {% endfor %}
                                </select>
                                <select name="type" id="type">
                                    <option selected="selected" value="">-- Sélectionner le type de fichier --</option>
                                    {% for ty in type %}
                                        <option value="{{ ty.id }}">{{ ty.libelle }}</option>
                                    {% endfor %}
                                </select>
                                <button class="btn btn-default">
                                    Recherche
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-8" id="result-custom">
                    {% for t in files %}
                        <div class="clearfix">
                            <h3>{{ t.libelle }}</h3>
                            {% set i = 0 %}
                            {% for f in t.fichiers %}
                                {% set i = i + 1 %}
                                <div class="col-md-6 file-cont">
                                    <div class="panel panel-default col-md-10 file-div">
                                        <h3>{{ f.nom }}</h3>
                                        {% if f.type.libelle == "Image" %}
                                            <a data-toggle="modal" data-target="#show-image" href="" class="click-image" id="a-click-{{ i }}" onclick="showModal(this.id);">
                                                <img src="{{ asset('uploads/resources/' ~ f.type.route ~ '/' ~ f.lien) }}" alt="{{ f.nom }}" width="200" />
                                            </a>
                                        {% elseif f.type.libelle == "Document" %}
                                            <iframe src="{{ asset('uploads/resources/' ~ f.type.route ~ '/' ~ f.lien) }}" width="200"></iframe>
                                        {% endif %}
                                        <p style="color : #222 !important;">Type : {{ f.type.libelle }}</p>
                                        <a target="_blank" href="{{ asset('uploads/resources/' ~ f.type.route ~ '/' ~ f.lien) }}">Télécharger le fichier</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                <div class="modal fade" id="show-image" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <button type="button" class="close" data-dissmiss="modal">
                                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                    <img class="img-preview" src="" style="width:100%;" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {% include "OrangeCoreBundle::foot.html.twig" %}
{% endblock %}