{% extends "OrangeCoreBundle::layout.html.twig" %}

{% block title %}Admin - DCR{% endblock %}

{% block content %}
    <div class="container">
        <div class="starter-template">
            <div class="row">
                <div class="col-md-8 col-md-offset-1 col-lg-offset-2">
	                <div class="panel panel-default">
	                    <div class="panel-heading">
	                        <h2 style="text-align : center;">{{ libelle }} de famille</h2>
	                    </div>
	                    <div class="panel-body">
	                        <div class="col-md-10 col-md-offset-1">
	                            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
	                            {{ form_errors(form) }}
	                            <div class="form-group">
	                                {{ form_label(form.libelle, "Libellé", {'label_attr': {'class': 'col-sm-5 control-label'}}) }}
	                                {{ form_errors(form.libelle) }}
	                                <div class="col-sm-6">
	                                    {{ form_widget(form.libelle, {'attr': {'class': 'form-control'}}) }}
	                                </div>
	                            </div>

	                            <div class="form-group">
	                                {{ form_label(form.classification, "Thématique", {'label_attr': {'class': 'col-sm-5 control-label'}}) }}
	                                {{ form_errors(form.classification) }}
	                                <div class="col-sm-6">
	                                    {{ form_widget(form.classification, {'attr': {'class': 'form-control'}}) }}
	                                </div>
	                            </div>

	                            <div class="col-md-3 col-md-offset-8">
	                                {{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-primary'}}) }}
	                            </div>
	                            {{ form_rest(form) }} {# Génération automatique de champs pas encore écrits, comme ceux générés automatiquement par Symfony #}
	                            {{ form_end(form) }}
	                        </div>
	                    </div>
	                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
