{% extends "OrangeCoreBundle::layout.html.twig" %}

{% block title %}Admin - DCR{% endblock %}

{% block content %}
    <div class="container">
        <div class="starter-template">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
	                <div class="panel panel-default">
	                    <div class="panel-heading">
	                        <h2 style="text-align : center;">{{ libelle }} de fichier</h2>
	                    </div>
	                    <div class="panel-body">
	                        <div class="col-md-10 col-md-offset-1">
	                            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
	                            {{ form_errors(form) }}
	                            <div class="form-group">
	                                {{ form_label(form.nom, "Nom", {'label_attr': {'class': 'col-sm-5 control-label'}}) }}
	                                {{ form_errors(form.nom) }}
	                                <div class="col-sm-6">
	                                    {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
	                                </div>
	                            </div>

								<div class="form-group">
									{{ form_label(form.typologie, "Typologie", {'label_attr': {'class': 'col-sm-5 control-label'}}) }}
									{{ form_errors(form.typologie) }}
									<div class="col-sm-6">
										{{ form_widget(form.typologie, {'attr': {'class': 'form-control'}}) }}
									</div>
								</div>

	                            <div class="form-group">
	                                {{ form_label(form.soustypologie, "Sous-typologie", {'label_attr': {'class': 'col-sm-5 control-label'}}) }}
	                                {{ form_errors(form.soustypologie) }}
	                                <div class="col-sm-6">
	                                    {{ form_widget(form.soustypologie, {'attr': {'class': 'form-control'}}) }}
	                                </div>
	                            </div>

	                            <div class="form-group">
	                                {{ form_label(form.type, "Type de fichier", {'label_attr': {'class': 'col-sm-5 control-label'}}) }}
	                                {{ form_errors(form.type) }}
	                                <div class="col-sm-6">
	                                    {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
	                                </div>
	                            </div>

	   							<div class="form-group">
	                                {{ form_label(form.file, "Fichier", {'label_attr': {'class': 'col-sm-5 control-label'}}) }}
	                                {{ form_errors(form.file) }}
	                                <div class="col-sm-6">
	                                    {{ form_widget(form.file) }}
	                                </div>
	                            </div>

	                            <div class="col-md-3 col-md-offset-8">
	                                {{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-primary'}}) }}
	                            </div>
	                            {{ form_rest(form) }} {# Génération automatique de champs pas encore écrits, comme ceux générés automatiquement par Symfony #}
	                            {{ form_end(form) }}
	                        </div>
	                    </div>
	                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
