{% extends "OrangeCoreBundle::layout.html.twig" %}

{% block title %}Admin - DCR{% endblock %}

{% block content %}
    <div class="container">
        <div class="starter-template">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
	                <div class="panel panel-default">
	                    <div class="panel-heading">
	                        <h2 style="text-align : center;">{{ libelle }} de fichier</h2>
	                    </div>
	                    <div class="panel-body">
	                        <div class="col-md-10 col-md-offset-1">
	                            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
	                            {{ form_errors(form) }}
	                            <div class="form-group">
	                                {{ form_label(form.nom, "Nom", {'label_attr': {'class': 'col-sm-5 control-label'}}) }}
	                                {{ form_errors(form.nom) }}
	                                <div class="col-sm-6">
	                                    {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
	                                </div>
	                            </div>

	                            <div class="form-group">
	                                {{ form_label(form.dateFin, "Date de fin", {'label_attr': {'class': 'col-sm-5 control-label'}}) }}
	                                {{ form_errors(form.dateFin) }}
	                                <div class="col-sm-6">
	                                    {{ form_widget(form.dateFin) }}
	                                </div>
	                            </div>

	                            <div class="form-group">
	                                <label class="col-sm-5 control-label" for="sfam">Famille</label>
	                                <div class="col-sm-6">
	                                    <select id="fam" onChange="loadSubFamilies(this.value);" class="form-control" name="fam">
	                                        <option value="">Sélectionner la famille</option>
											{% if fileFamille is not null %}
												<option selected="selected" value="{{ fileFamille.id }}">{{ fileFamille.libelle }}</option>
											{% endif %}
	                                        {% for f in fam %}
	                                            <option value="{{ f.id }}">{{ f.libelle }}</option>
	                                        {% endfor %}
	                                    </select>
	                                </div>
	                            </div>

                            <div class="form-group">
                                <label class="col-sm-5 control-label" for="sfam">Sous-famille</label>
                                <div class="col-sm-6">
                                    <select id="sfam" class="form-control" name="sfam">
                                        <option value="">Sélectionner la sous-famille</option>
										{% if fileSfamille is not null %}
											<option class="nouveau" selected="selected" value="{{ fileSfamille.id }}">{{ fileSfamille.libelle }}</option>
										{% endif %}
                                    </select>
                                </div>
                            </div>

	                            <div class="form-group">
	                                {{ form_label(form.type, "Type de fichier", {'label_attr': {'class': 'col-sm-5 control-label'}}) }}
	                                {{ form_errors(form.type) }}
	                                <div class="col-sm-6">
	                                    {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
	                                </div>
	                            </div>

	   							<div class="form-group">
	                                {{ form_label(form.file, "Fichier", {'label_attr': {'class': 'col-sm-5 control-label'}}) }}
	                                {{ form_errors(form.file) }}
	                                <div class="col-sm-6">
										{% if lien is defined %}
											<p>Fichier d'origine : <a href="{{ asset('uploads/resources/' ~ route ~ '/' ~ lien) }}" target="_blank">{{ lien }}</a></p>
										{% endif %}
	                                    {{ form_widget(form.file) }}
	                                </div>
	                            </div>

	                            <div class="col-md-3 col-md-offset-8">
	                                {{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-primary'}}) }}
	                            </div>
	                            {{ form_rest(form) }} {# Génération automatique de champs pas encore écrits, comme ceux générés automatiquement par Symfony #}
	                            {{ form_end(form) }}
	                        </div>
	                    </div>
	                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
