{% extends "OrangeCoreBundle::layout.html.twig" %}

{% block title %}Admin - DCR{% endblock %}

{% block content %}
    <div class="container">
        <div class="starter-template">
            <h2 style="text-align : center;">Sous-typologies</h2>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <table id="all-table" class="table table-hover table-bordered table-stripped">
                        <thead>
                        <tr>
                            <th>Identifiant</th>
                            <th>Libellé</th>
                            <th>Typologie</th>
                            <th>Route</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for st in stypo %}
                            <tr>
                                <td>{{ st.id }}</td>
                                <td>{{ st.libelle }}</td>
                                <td>{{ st.typologie.libelle }}</td>
                                <td>{{ st.route }}</td>
                                <td><a href="{{ path('_soustypologie_update', {'id': st.id}) }}"><i class="fa fa-fw fa-pencil"></i></a> <a href="{{ path('_soustypologie_delete', {'id': st.id}) }}"><i class="fa fa-fw fa-trash"></i></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('#all-table').DataTable();
        $('div.dataTables_filter').addClass('col-sm-offset-3');
        $('.dataTables_wrapper .row:nth-child(3) > div:nth-child(1)').addClass('col-sm-4');
        $('.dataTables_wrapper .row:nth-child(3) > div:nth-child(2)').addClass('col-sm-8');
    </script>
{% endblock %}