{% extends "OrangeCoreBundle::layout.html.twig" %}

{% block title %}Admin - DCR{% endblock %}

{% block content %}
    <div class="container">
        <div class="starter-template">
            <h2 style="text-align : center;">Fichiers</h2>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-9">
                            <a href="{{ path('_fichier_create') }}" class="btn btn-default" style="margin-bottom: 20px;"><i class="icon-plus-sign-alt"></i> Nouveau fichier</a>
                        </div>
                    </div>
                    <table id="all-table" class="table table-hover table-bordered table-stripped">
                        <thead>
                        <tr>
                            <th>Identifiant</th>
                            <th>Libellé</th>
                            <th>Typologie</th>
                            <th>Sous-typologie</th>
                            <th>Date</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for f in file %}
                            <tr>
                                <td>{{ f.id }}</td>
                                <td>{{ f.nom }}</td>
                                <td>{% if f.typologie is not null %}{{ f.typologie.libelle }}{% else %}Non{% endif %}</td>
                                <td>{% if f.soustypologie is not null %}{{ f.soustypologie.libelle }}{% else %}Non{% endif %}</td>
                                <td>{{ f.date|date("d/m/Y") }}</td>
                                <td><a href="{{ path('_fichier_update', {'id': f.id}) }}"><i class="fa fa-fw fa-pencil"></i></a> <a href="{{ path('_fichier_delete', {'id': f.id}) }}"><i class="fa fa-fw fa-trash"></i></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}