{% extends "OrangeCoreBundle::layout.html.twig" %}

{% block title %}Admin - DCR{% endblock %}

{% block content %}
    {% set type = "fichier" %}
    <div class="container">
        <div class="starter-template">
            <h2 style="text-align : center;">{% if archivage is defined %}Archives{% else %}Fichiers{% endif %}</h2>
            <div class="row">
                <div class="col-md-8 col-md-offset-1 col-lg-offset-2">
                    <table id="all-table" class="table table-hover table-bordered table-stripped">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Nom</th>
                            <th>Typologie</th>
                            <th>Sous-typologie</th>
                            <th>Type</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for f in file %}
                            <tr>
                                <td>{{ f.date|date("d/m/Y") }}</td>
                                <td>{{ f.nom }}</td>
                                <td>{% if f.typologie is not null %}{{ f.typologie.libelle }}{% else %}Non{% endif %}</td>
                                <td>{% if f.soustypologie is not null %}{{ f.soustypologie.libelle }}{% else %}Non{% endif %}</td>
                                <td>{% if f.type is not null %}{{ f.type.libelle }}{% else %}Non défini{% endif %}</td>
                                <td><a href="{{ path('_fichier_update', {'id': f.id}) }}"><i class="fa fa-fw fa-pencil"></i></a> <a href="" onClick="validateArchiveFile({{ f.id }})"><i class="fa fa-floppy-o"></i></a> <a class="delete-trash" href="" onClick="validateDeletion({{ f.id }}, '{{ type }}')"><i class="fa fa-fw fa-trash"></i></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('#all-table').DataTable();
        $('div.dataTables_filter').addClass('col-sm-offset-3');
        $('.dataTables_wrapper .row:nth-child(3) > div:nth-child(1)').addClass('col-sm-4');
        $('.dataTables_wrapper .row:nth-child(3) > div:nth-child(2)').addClass('col-sm-8');
    </script>
{% endblock %}